<li jsx-class="TodoItem" class="{classes}">
    <div class="view">
        <input class="toggle"
                type="checkbox"
                checked="{this.props.todo.completed}"
                onChange="{this.props.onToggle}"/>

        <label onDoubleClick="{this.handleEdit}">
            {this.props.todo.title}
        </label>

        <button class="destroy" onClick="{this.props.onDestroy}"/>
    </div>

    <input  ref="editField"
            class="edit"
            value="{this.state.editText}"
            onBlur="{this.handleSubmit}"
            onChange="{this.handleChange}"
            onKeyDown="{this.handleKeyDown}"/>
</li>